body {
    background-image: url("../../assets/pexels-erkan-302655.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    margin-top: 0px;
  }
  
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px 20px;
    backdrop-filter: blur(2px);
}
 
.logo {
    color: white;
    font-size: 1.5em;
}

.searchbar {
    position: relative;
}

.search-input {
    width: 400px;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
}

.extrasome{
    display: flex;
    gap: 10px;
}

.extrasome span{
    flex-direction: row;
    justify-content: space-evenly;
}

.extrasome .buttonstyle{
    background: none;
    color: white;
    border: 0px;
}

.iconsstyle{
    width: 30px;
    height: 30px;
}

span{
  font-size: large;
  color: white;
}

.buttonstyle2{
  border-radius: 70px;
  background-color: black;
}

.atag{
    text-decoration: none;
    color: white;
}

.notification-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    color: black;
}

.dropdown-inside {
    position: absolute;
    top: 100%; 
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 10px;
    min-width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    color: black;
    white-space: nowrap;
}

.dropdown-inside p {
    margin: 0;
    padding: 8px;
    cursor: pointer;
    text-align: center;
}

.dropdown-inside p:hover {
    background-color: pink;
}
